.Tweet {
  position: relative;
  width: 55%;
  height: 100px;
  left: 367px;
  top: 205px;
  margin-bottom: 10px;

  background: #343a40;
  border-radius: 6px;
}
.TweetText {
  position: absolute;
  width: 455px;
  height: 32px;
  /* left: 387px;
    top: 253px; */
  top: 35px;
  right: 319px;

  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}
.Tweet-user {
  /* position: absolute; */
  width: 162px;
  height: 12px;
  left: 387px;
  top: 225px;

  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #6c757d;
}
.Tweet-time {
  /* position: absolute; */
  width: 169px;
  height: 16px;
  left: 419px;
  top: 223px;

  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #6c757d;
}
